* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* ширина однієї колонки 8.33333 */
.col-3 {
    flex: 0 0 25%;
    max-width:25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width:33.33333%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    font-size:35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:#ffffff;
    margin: auto;
    margin-top: 30px;
    
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

header {
    background-color: rgba(255, 255, 255, .75);
    height: 100px;
    display: flex;
    align-items: center;
}

.menu {
   display: flex;
  
}

.menu li {
    width: 25%;
    border-left:1px solid #2c71b8 ;
}

.menu li:last-child > a {
    border-right:1px solid #2c71b8 ;
}

.menu a {
    display: flex;
    height: 50px;
    text-decoration: none; 
    font-size: 21px;
    color:#2c71b8;
    justify-content: center;
    align-items: center;
}
 .menu a:hover {
    background-color: #2c71b8;
    color: white;
 }

 .breadcrumbs li {
    display: inline-block;
    justify-content: flex-start;
    margin: auto;
    margin-top: 30px;

 }

.product {
    box-sizing: border-box;
    width: 270px;
    height: 650px;
    border: 1px solid   rgba(255, 255, 255, .75);  
    position: relative;
    background-color: rgba(47, 115, 185, .25);
    margin: auto;
    margin-top: 30px;
    
   
}

.product-img {
    background-color: rgba(255, 255, 255, .75) ;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.zoom {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid  #2c71b8;
    position: absolute;
    right:10px ;
    top: 10px;
    padding-left: 4px;
    padding-top: 4px;
    color: #2c71b8;
      
}

.zoom:hover {
     background-color: #2f73b9;
}


.like {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid  #2c71b8;
    position: absolute;
    right:10px ;
    top: 50px;
    padding-left: 5px;
    padding-top: 6px;
     
}

.like:hover {
    background-color: #2f73b9;

}


.product-title{
    font-size:30px ;
    margin-top:20px ;
    font-family: 'Roboto', sans-serif;
    font-weight: bold ;
    text-align: center;
    color: #ffffff;
}

.product-desc {
    font-size: 23px;
    margin-top: 20px;
    margin-left: 10px;
    color: #ffffff;
    text-align: left;
    align-content: space-around;
}


.product-features {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left:15px ;
}

.product-features span {
    text-transform: uppercase;
    font-weight: bold;
}

.product-price {
    margin: auto;
    margin-top: 35px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;

}

sup{
   font-size:medium; 
}

.btn  {
    width: 210px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    border: 1px solid #ffffff;
    margin-left: 30px;
   
   
    
}

.btn-more-detalis {
    background-color: #2f73b9;
    color: #ffffff;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;
}

.btn-add-to-cart{
    margin: auto;
    margin-top: 15px;
    margin-left: 30px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, .25);
}
