* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* ширина однієї колонки 8.33333 */
.col-3 {
    flex: 0 0 25%;
    max-width:25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width:33.33333%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    font-size:40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:#ffffff;
    margin: auto;
    margin-top: 30px;
    
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

header {
    background-color: rgba(255, 255, 255, .75);
    height: 100px;
    display: flex;
    align-items: center;
}

.menu {
   display: flex;
  
}

.menu li {
    width: 25%;
    border-left:1px solid #2c71b8 ;
    position: relative;
}

.menu li:last-child > a {
    border-right:1px solid #2c71b8 ;
}

.menu a {
    display: flex;
    height: 50px;
    text-decoration: none; 
    font-size: 21px;
    color:#2c71b8;
    justify-content: center;
    align-items: center;
}
 .menu a:hover {
    background-color: #2c71b8;
    color: white;
 }

 
 .sub-menu{
    display:none;
    background-color: #2f73b9;
    position: absolute;
    min-width: 285px; 
    z-index: 10;
 }

 .sub-menu li {
     border: 1px solid  #2c71b8;
     min-width: 285px; 
     margin: auto;
     margin-left: -1px;
     
 }

 .sub-menu li a {
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    color: #ffffff;
 }

 .sub-menu a:hover{
    background-color: #ffffff;
    color:#2f73b9;
 }

.dad-sub-menu:hover  .sub-menu{
   display: block;
 }

.search-btn {
    box-sizing: border-box;
    border: 1px solid #2f73b9;
    display: block;
    margin-top: 3px;
    background-color: #ffffff;
    
}

.search-btn input {
        padding: 17px 17px;
        font-size: 17px;
        border: none;
        width: 170px;
        height: 40px;
}

.search-btn button {
      box-sizing: border-box;
      margin-top: 4.5px;
      margin-right: 5px;
      background-color: #2f73b9;
      border: none;
      width: 30px;
      height: 30px;
      float: right;
      background-image: url("./images/searchglobal.png");
      background-position: center;
      background-repeat: no-repeat;
      
}

.cart {
    box-sizing:border-box;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 4.4px;
    margin-left: 32px;
    background-color: #ffffff;
    background-image: url("./images/cartblue.png");
    background-position: center;
    background-repeat: no-repeat;
      
}


 .breadcrumbs li {
    display: inline-block;
    justify-content: flex-start;
    margin: auto;
    margin-top: 30px;

 }

 .sort {
    margin: auto;
    margin-top: 65px;
   
 }

 .sort-menu-search-dad {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    background-color: #2f73b9;
    position: relative;
    color: #ffffff;
    height: 40px;
    padding: auto;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 21px;
    
 }

 .sort-menu{
    display:none;
    background-color: #2f73b9;
    position: absolute;
    min-width: 270px; 
    z-index: 10;
    
 }

 .sort-menu li {
    border: 1px solid  #2c71b8;
    min-width: 270px; 
 }

 .sort-menu li a {
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    color: #ffffff;
 }

 .sort-menu a:hover {
    background-color: #ffffff;
    color:#2f73b9;
 }

 .sort-menu-search-dad:hover .sort-menu {
    display: block;
 }

 .sort-menu-search-dad .sort-menu {
    margin: auto;
    margin-left: -12px;
 }

.product {
    box-sizing: border-box;
    width: 270px;
    height: 650px;
    border: 1px solid   rgba(255, 255, 255, .75);  
    position: relative;
    background-color: rgba(47, 115, 185, .25);
    margin: auto;
    margin-top: 30px;
    
   
}

.product-img {
    background-color: rgba(255, 255, 255, .75) ;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.zoom {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid  #2c71b8;
    position: absolute;
    right:10px ;
    top: 10px;
    background-image: url("./images/zoomblue.png");
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    
     
}


.zoom:hover {
    background-image: url("./images/zoom.png");
    background-color: #2f73b9;
    color: #ffffff;
}


.like {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid  #2c71b8;
    position: absolute;
    right:10px ;
    top: 50px;
    background-image: url("./images/heartblue.png");
    background-size: 19px 19px;
    background-position: center;
    background-repeat: no-repeat;
     
}

.like:hover {
    background-image: url("./images/heart.png");
    background-color: #2f73b9;
    color: #ffffff;

}


.product-title{
    font-size:30px ;
    margin-top:20px ;
    font-family: 'Roboto', sans-serif;
    font-weight: bold ;
    text-align: center;
    color: #ffffff;
}

.product-desc {
    font-size: 23px;
    margin-top: 20px;
    margin-left: 10px;
    color: #ffffff;
    text-align: left;
    align-content: space-around;
}


.product-features {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
    margin-left:15px ;
}

.product-features span {
    text-transform: uppercase;
    font-weight: bold;
}

.product-price {
    margin: auto;
    margin-top: 35px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;

}

sup{
   font-size:medium; 
}

.btn  {
    width: 210px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    border: 1px solid #ffffff;
    margin-left: 30px;
   
   
    
}

.btn-more-detalis {
    background-color: #2f73b9;
    color: #ffffff;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;
}

.btn-add-to-cart{
    margin: auto;
    margin-top: 15px;
    margin-left: 30px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, .25);
}
.cart {
    position: relative;
    background-image: url(./images/cartblue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 0px;
    margin-left: 30px; 
}
#products-count {
    position: absolute;
    top:-10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color:white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 100;
    display: none;/*видалити цю стрічку щоб зявилoся вікно*/
}

.modal-block {
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 80px auto;
    padding: 15px;
    text-align: center;
}
.form-field {
    margin-bottom: 15px;
}
.form-field input {
    width: 100%;
    height: 30px;
}
.modal-block h3 {
    margin-bottom: 15px;    
}
.btn-wrap {
    display: flex;
    justify-content: flex-end;
}
.btn-close {
    cursor: pointer;
}